#feeds-container {
	margin-top: 20px;
}

.feed-block {
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom: black;
	border-bottom-style: solid;
	border-bottom-width: 1px;	
}

.feed-block.active{
	background-color: #eeeeee;	
}

.feedsTitle {
	font-family: georgia, times new roman, serif;
	font-size: 25px;
	font-weight: normal;
	line-height: 1.1;
}

.feedsDate {
	color: #999999;
	font-family: aria, helvetica, sans-serif;
	font-size: 11px;
	margin: 0px;
}



.hrColor {
	border-color: #bbbbbb;
}